@import '/base.css';

:root {
  --xaxa:#83C9F4;
  --noob:#E3E7AF;
  --top:#222A68;
  --mid:#D95D39;
  --hehe:#97A2FF;
  --moyai:#F3C677;
  --yar:#7FBEAB;
      --primary:var(--hehe);
    --secondary:var(--yar);
    --h1:7.594rem;
    --h2:5.063rem;
    --h3:3.375rem;
    --h4:2.25rem;
    --h5:1.5rem;
    } */
     body,
    html,
    * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
    }
  
body{
  background-color:pink;
}
    .container {
       display: flex;
       align-items: center;
       text-align: center;
       flex-wrap: wrap;
       justify-content: space-around;
    }
  
     .laquestion {
       font-size: 1rem;
       background-color: var(--noob);
       padding: 2%;
       margin: 2rem 2rem;
       width: 450px;
       height: 700px;
    }
 
    h3{
     border-radius: 5px;
     margin-top: 2rem;
    }
  
    h1{
     font-size: 3rem;
     text-align: center;
     color: var(--xaxa);
    }
    
    .image{
      height: 400px;
      width:400px;
    }

    .stat{
      color:var(--hehe)
    }


/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
